.header {
    font-size: 2.2rem;
    font-family: "Menlo";
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: url(../../assets/images/background.jpg);
    background-position: center;
    text-align: center;
}