.article-details {
  padding: 0.9rem;
  margin-bottom: 0.9rem;
  
  border: rgb(221, 221, 221) 1px solid;
  border-radius: 0 0 1rem 1rem;
  border-top-style:none;
  
  background-color: #ffffff;
}

.details-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
}


.article-body {
  text-align: left;
  flex: 65%;
}

.article-info {
  display: none;
}

.article-cta {
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem -1rem -1rem -1rem;
  border-top: rgb(221, 221, 221) 1px solid;
  padding: 1rem;
}

.article-cta__text {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}


@media screen and (min-width: 600px) {
  .article-info {
    border: rgb(221, 221, 221) 1px solid;
    flex: 35%;
    display:block;
    margin-left: 0.9rem;
    padding:0.9rem;
  }


}