body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

article {
  padding: 0.5rem;
  margin: 0.7rem 0;
  border: solid 2px red;

  display: grid;
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'title title title'
    'posted-on posted-on posted-on'
    'comments votes topic';
  grid-template-rows: 2rem, repeat(2, 1rem);

  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  background-color: blue;
  margin: 0;
}

p {
  background-color:aquamarine;
  margin: 0;
}

.article-card-topic {
  grid-area: topic;
  justify-self: end;
}

.article-card-title {
  grid-area: title;
  justify-self: start;
  text-align:left;
}

.article-card-posted-on {
  grid-area: posted-on;
  justify-self: start;
  text-align:left;
}

.article-card-votes {
  grid-area: votes
}

.article-card-comments {
  grid-area: comments
}