@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  padding:0;
  margin:0;
}

body {
  background-color: rgb(248, 249, 251);
  font-family: 'Inter', sans-serif;
  color: rgb(42, 39, 39);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav, main, footer {
  width: 95%;
  margin: 2rem auto 2rem auto;
  max-width: 900px;
}